<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.aueb.team14">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Team14">
        <activity android:name=".ui.EvaluationActivity"></activity>
        <activity android:name=".ui.CustomerAppointmentsActivity" />
        <activity android:name=".ui.AppointmentsActivity" />
        <activity android:name=".ui.BookReservationActivity" />
        <activity android:name=".ui.TechnicianList" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.TechnicianRegistration" />
        <activity android:name=".ui.CustomerRegistration" />
    </application>

</manifest>